* {
  box-sizing: border-box;
}

.stat .ant-statistic-title {
  color: #2ac2c2;
  font-size: xxx-large;
  transition: 500ms;
}

.stat .ant-statistic-title:hover {
  color: #ff9054;
  transition: 500ms;

}

.stat .ant-statistic-content-value {
  color: #000000;
  font-size: xxx-large;
  transition: 100ms;
}

.stat .ant-statistic-content-value:hover {
  scale: 1.75;
  transition: 100ms;
}


@font-face {
  font-family: Reddd;
  src: url("./KGRedHands.ttf");
}

html {
  background-color: whitesmoke;
  overflow-x: hidden;
}

* {
  font-family: Reddd;
}

.downloadbutnD a.ant-btn {
  scale: 1.5;
  margin: 2vmax;
  background-color: #ffffff61;
  border: 0;
  color: rgba(0, 0, 0, 0.616);
  transition: 500ms;
  text-align: center;
}

.downloadbutnD a.ant-btn:hover {

  background-color: #ffffff;
  color: #000000;
  transition: 500ms;
}

.downloadbutnG a.ant-btn {
  margin: 2vmax;
  scale: 1.5;


  background-color: #38383856;
  border: 0;
  color: rgba(255, 255, 255, 0.66);
  transition: 500ms;
  text-align: center;
}

.downloadbutnG a.ant-btn:hover {

  background-color: #000000;
  color: rgb(255, 255, 255);
  transition: 500ms;
}

.downloadbutnY a.ant-btn {
  margin: 3vmax;
  scale: 1.5;

  background-color: #ff16326b;
  border: 0;
  color: white;
  transition: 500ms;
  text-align: center;
}

.downloadbutnY a.ant-btn:hover {

  background-color: #ff2e46f4;
  color: aliceblue;
  transition: 500ms;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #92cdef;
}

@media screen and (max-width: 111110px) {
  .modeldiv {
    height: 55.6vw;
  }
}



.modelcanvas {
  background-color: white;
  background: url(./SereneFinal.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


canvas {

  touch-action: none;
}

.annotation {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 8px;
  font-weight: 300;
  background: black;
  color: #f0f0f0;
  padding: 2px 10px;
  border-radius: 20px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

audio {
  display: none;
}

.header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header>button {
  color: white;
  background-color: #f37381;
  border: 0px;
  border-radius: 10px;
  transition: ease-in-out;
  transition: 300ms;
}

.header>button :hover {
  color: #ffffff;
  transition: 240ms;
}

.qrcode {
  background-color: #ffffff;
}

.ant-col {
  text-align: center;
}

.textT {
  font-family: Reddd;

}

.textp {
  font-family: Reddd;

  font-size: large;
}

.rows {
  font-family: Reddd;

  padding: 3vmax;
}

.controlsCol {
  font-family: Reddd;

  padding: 3vmax;
}

.imageCol {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.colbut {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}